<div style="background-color: #877EB4" class="uk-width-2-3@m  uk-card uk-card-default uk-padding-small uk-visible@m">
    <div style="color: black" class="uk-grid">
        <div class="uk-width-1-6@m">
            <img src="/images/ITPL.png" width="90" alt="img" />
        </div>
        <div class="uk-width-expand@m uk-text-left">
            <div class="title">
                {{title}}
            </div>
            <div class="uk-text-muted uk-text-small">
                <div style="color: black">
                    {{subTitle}}
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-small uk-text-center uk-padding-remove">
            <ul class="uk-iconnav uk-margin-left">


                <!--<a href="/js-pdf" class="uk-card uk-card-small uk-text-center uk-padding-remove">
                    <i class="fas fa-th-list fa-3x" style="color:#653DC2" title="js.PDF" pos="bottom" uk-tooltip></i>
                    <div class="uk-width-expand@m uk-text-left">
                        <div style="font-size:xx-small" class="uk-text-muted uk-text-center">js.PDF</div>
                    </div>
                </a>

                <a href="/showcase" class="uk-card uk-card-small uk-text-center uk-padding-remove">
                    <i class="fas fa-th-list fa-3x" style="color:rgb(63, 122, 139)" title="Showcase" pos="bottom" uk-tooltip></i>
                    <div class="uk-width-expand@m uk-text-left">
                        <div style="font-size:xx-small" class="uk-text-muted uk-text-center">Showcase List</div>
                    </div>
                </a>-->


                <a target="_blank" href="https://github.com/cathalohinse/Uathcruthu">
                    <i class="fab fa-github fa-3x" style="color:#653DC2" title="Source Repository" pos="bottom" uk-tooltip></i>
                    <div class="uk-width-expand@m uk-text-left">
                        <div style="font-size:xx-small" class="uk-text-muted uk-text-center">Uathcruthú</div>
                    </div>
                </a>

                <a href="/submit" class="uk-card uk-card-small uk-text-center uk-padding-remove">
                    <i class="fas fa-hand-holding-usd fa-3x" style="color:rgb(153, 196, 74)" title="Make Submission" pos="bottom" uk-tooltip></i>
                    <div class="uk-width-expand@m uk-text-left">
                        <div style="font-size:xx-small" class="uk-text-muted uk-text-center">Submission</div>
                    </div>
                </a>

                <a href="/report" class="uk-card uk-card-small uk-text-center uk-padding-remove">
                    <i class="fas fa-th-list fa-3x" style="color:rgb(63, 122, 139)" title="Report" pos="bottom" uk-tooltip></i>
                    <div class="uk-width-expand@m uk-text-left">
                        <div style="font-size:xx-small" class="uk-text-muted uk-text-center">Submissions List</div>
                    </div>
                </a>

                <a href="/logout" class="uk-card uk-card-small uk-text-center uk-padding-remove">
                    <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(156, 70, 128)" title="Logout" pos="bottom" uk-tooltip></i>
                    <div class="uk-width-expand@m uk-text-left">
                        <div style="font-size:xx-small" class="uk-text-muted uk-text-center">Logout</div>
                    </div>
                </a>

            </ul>
        </div>

    </div>
</div>
